<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="EJB_HE1PU" transaction-type="JTA">
    <jta-data-source>jdbc/he1</jta-data-source>
    <class>he1.matriz.entities.MceCantones</class>
    <class>he1.matriz.entities.McePerdetalle</class>
    <class>he1.matriz.entities.McePersonal</class>
    <class>he1.matriz.entities.MceProvincias</class>
    <class>he1.odonto.entities.OEnfermedadPeriodontal</class>
    <class>he1.odonto.entities.OFluorosis</class>
    <class>he1.odonto.entities.OHigieneOralSimplificada</class>
    <class>he1.odonto.entities.OIndicesCpoCeo</class>
    <class>he1.odonto.entities.OInforInicial</class>
    <class>he1.odonto.entities.OMalOclusion</class>
    <class>he1.odonto.entities.OOdontograma</class>
    <class>he1.odonto.entities.OPatologias</class>
    <class>he1.odonto.entities.ORayosX</class>
    <class>he1.odonto.entities.ORecMovilidad</class>
    <class>he1.odonto.entities.OSimbologiaOdonto</class>
    <class>he1.odonto.entities.OSistemaEstomatognico</class>
    <class>he1.odonto.entities.OTratamiento</class>
    <class>he1.odonto.entities.VPermanentes</class>
    <class>he1.odonto.entities.VTemporales</class>
    <class>he1.seguridades.entities.SegLogsSistema</class>
    <class>he1.seguridades.entities.SegMenu</class>
    <class>he1.seguridades.entities.SegMenuHabilita</class>
    <class>he1.seguridades.entities.SegModulos</class>
    <class>he1.seguridades.entities.SegOrganizacion</class>
    <class>he1.seguridades.entities.SegPerfil</class>
    <class>he1.seguridades.entities.SegUrls</class>
    <class>he1.seguridades.entities.SegUsuario</class>
    <class>he1.seguridades.entities.SegUsuarioPerfil</class>
    <class>he1.seguridades.entities.SegUsuariosExternos</class>
    <class>he1.seguridades.entities.nuevos.PersonalNomina</class>
    <class>he1.seguridades.entities.nuevos.PortalServiciosDoc</class>
    <class>he1.seguridades.entities.nuevos.RegimenLaboral</class>
    <class>he1.seguridades.entities.nuevos.SegMinisterioFinanzas</class>
    <class>he1.seguridades.entities.nuevos.TipoRelacionLaboral</class>
    <class>he1.seguridades.entities.nuevos.VUsuarioHe1</class>
    <class>he1.seguridades.entities.nuevos.VUsuariosClasif</class>
    <class>he1.sis.entities.AgrupadoresContables</class>
    <class>he1.sis.entities.AgrupadoresDeCargos</class>
    <class>he1.sis.entities.AntecedentesFamiliares</class>
    <class>he1.sis.entities.AntecedentesPersonales</class>
    <class>he1.sis.entities.Areas</class>
    <class>he1.sis.entities.CamasHospitalizacion</class>
    <class>he1.sis.entities.Cantones</class>
    <class>he1.sis.entities.Cargos</class>
    <class>he1.sis.entities.Departamentos</class>
    <class>he1.sis.entities.DiagnosticosPaciente</class>
    <class>he1.sis.entities.Diuresis</class>
    <class>he1.sis.entities.Enfermedades</class>
    <class>he1.sis.entities.Especialidades</class>
    <class>he1.sis.entities.GruposEstadisticos</class>
    <class>he1.sis.entities.HojasDeEvolucion</class>
    <class>he1.sis.entities.HojasEvolucionesEnfermeria</class>
    <class>he1.sis.entities.IngestasYEliminaciones</class>
    <class>he1.sis.entities.Morfologicos</class>
    <class>he1.sis.entities.Motivos</class>
    <class>he1.sis.entities.MotivosDeConsultas</class>
    <class>he1.sis.entities.Pacientes</class>
    <class>he1.sis.entities.Parroquias</class>
    <class>he1.sis.entities.PermanenciasYAtenciones</class>
    <class>he1.sis.entities.Personal</class>
    <class>he1.sis.entities.Provincias</class>
    <class>he1.sis.entities.SignosVitales</class>
    <class>he1.sis.entities.TiposAntecedentesFamiliares</class>
    <class>he1.sis.entities.TiposAntecedentesPersonales</class>
    <class>he1.sis.entities.TiposDeDatos</class>
    <class>he1.sis.entities.TiposDeExamenes</class>
    <class>he1.sis.entities.TurnosCamas</class>
    <class>he1.sis.entities.TurnosCe</class>
    <class>he1.sis.entities.VariablesDeExamenes</class>
    <class>he1.uci.entities.UCuidados1</class>
    <class>he1.uci.entities.UCuidados2</class>
    <class>he1.uci.entities.UCultivos</class>
    <class>he1.uci.entities.UEscalaValoracion</class>
    <class>he1.uci.entities.UHorario</class>
    <class>he1.uci.entities.UHorarioIngesta</class>
    <class>he1.uci.entities.UOpcionPaciente</class>
    <class>he1.uci.entities.UOpciones</class>
    <class>he1.uci.entities.UPesoTalla</class>
    <class>he1.uci.entities.UUciMenu</class>
    <class>he1.uci.entities.UUlcerasXPresion</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
</persistence>
